.historydetails {
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
  
}

.historydetails:hover {
  background-color: #ffffff; 
  color: rgb(117, 11, 30);
  box-shadow: 0 5px 15px rgba(95, 22, 22, 0.1); 
  transform: translateY(-5px);
}
.request-row {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.request-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.detail {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  color: #f6f0f0;
}

.expanded-request {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-image: url("../Images/ticket3.png");
  min-height: 300px;
  background-color: #750B1E;
}

.historyBtn {
  border-radius: 5px;
 margin-left: 5px;
  background-color:rgb(205, 163, 170);
  transition: background-color 0.3s ease;
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.historyBtn:hover {
  background-color:  #f9f9f9; 
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1); 
  transform: translateY(-4px);
}

.historyList {
  max-height: 400px;
  overflow-y:auto;
}
.columnticket1{
  padding-left: 50px;
  float: left;
  width: 40%;
  
}
.columnticket2{
 
 padding-left: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 
}
.table-borderless tbody tr td div {
  text-align: left;
  
}
.cost{
  text-align: left;
}
.value{
  text-align: right;
}

.columnHistory{
float: right;
width: 60%;
margin-top: 30px;
}
