/* RequestForm.css */

.vehicleRequestForm {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
    
  }
  
  .form-label {
    font-size: 1.5em;
    margin-bottom: 20px;
    display: block;
  }
  
  .RequestVehicle {
    margin-bottom: 20px;
  }
  .addPassenger{
    display: flex;
    align-items: flex-start;
    
  }
  
  .dateInput,
  .vehicleInput,
  .startTimeInput,
  .endTimeInput,
  .selectSectionInput,
  .reasonInput,
  .departureFromInput,
  .destinatonInput,
  .approximateDistanceInput,
  .passengerNameInput,
  .selectpositionInput,
  .pickupLocationInput,
  .dropLocationInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .set-comeback-input {
    margin-right: 5px;
  }
  
  .approximateDistance {
    margin-left: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Table Styles */
  .table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  .submitf{
    
   float: right;
    
  }