.columleft {
  width: 25%;
  float: left;
  background-color: #f4cdd4;
  min-width: 400px;
}

.columnRight {
  width: 65%;
  min-width: 500px;
  
}

.row61{
      padding-top: 100px;  
      border-radius: 20px;
      margin-left: auto;
  margin-right: auto;
      width: 820px;    
      overflow: hidden;
    
  }
  .column61 {
      float: left;
      width: 50%;
      padding: 10px;
      height: 470px; 
      background-color: #8b8b8b5f;
      border-radius: 20px 0px 0px 20px;     
    }
    .column62 {
      float: left;
      width: 50%;
      padding: 10px;
      position: relative;
      height: 470px; 
      
      border-radius: 0px 20px 20px 0px;
      padding-right: 30px;
      background-color: #8b8b8b5f;
      
    }
    @media (max-width: 1650px) {
      
      .columnRight {
        justify-content: center;
        align-items: center;
        width:20%;
        min-width: 500px;
        
      }
      .column61{
        display: none;
      }
      .row61 {
        padding-top: 50px;
        width:1200px;
        
        margin-left: auto;
  margin-right: auto;
 
      }
      .column62 {
        width: 50%; /* Adjust to 100% for small screens */
        border-radius: 20px; /* Adjust border-radius for small screens */
        margin-left: 110px; /* Remove left margin for small screens */
        margin-right: 110px; /* Remove right margin for small screens */
        padding: 5px; /* Adjust padding for small screens */
        height: auto;
        padding: 30px; /* Allow height to be determined by content */
      }
      
    }

    @media (max-width: 1200px) {
      
      
      .columnRight {
        width: 30%;
        padding: auto;
        margin: auto;
      }
    
      .row61 {
        padding-top: 50px;
        width:400px
      }
    
      .column61{
        display: none;
      }
      .column62 {
        width: 100%; /* Adjust to 100% for small screens */
        border-radius: 20px; /* Adjust border-radius for small screens */
        margin-left: 0; /* Remove left margin for small screens */
        margin-right: 0; /* Remove right margin for small screens */
        padding: 5px; /* Adjust padding for small screens */
        height: auto; /* Allow height to be determined by content */
      }
    }
    @media (max-width: 950px) {
      .columleft {
        display: none;
      }
      
      .columnRight {
        width: 30%;
        padding: auto;
        margin: auto;
        
      }
    
      .row61 {
        
        width:400px
      }
    
      .column61{
        display: none;
      }
      .column62 {
        width: 100%; /* Adjust to 100% for small screens */
        border-radius: 20px; /* Adjust border-radius for small screens */
        margin-left: 0; /* Remove left margin for small screens */
        margin-right: 0; /* Remove right margin for small screens */
        padding: 25px; /* Adjust padding for small screens */
        height: auto; /* Allow height to be determined by content */
      }
    }
  .img-log61{
      height: 60px;
      
      
      
  }
  .form61{
  color: rgb(0, 0, 0); 
  text-align: center;
  padding-top: 65px;
  position: relative;
      
  }
  .form-label{
      padding-right: 10px;
  }
  .img61{
      position: relative;
      height: 450px;
      border-radius: 15px;
      
      border: #000000;
      
  
  }
  .text61{
      color: #000000;
      text-align: center;
      padding-top: 170px;
      position: absolute;
      padding-left: 8%;
      
      
  
      
  }

  .btnSign{
    background-color:#750B1E ;
    padding: 7px;
    width: 150px;
    color: white;
    border-radius: 10px;
    border: 0cap;
  }
  .input-group-text{
    border:#000000;
  }